body{
  font-family: 'Times New Roman', Times, serif;
  background:#d3cdeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form{
  background:white;
  width:300px;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(23, 19, 19, 2);
 
}

h2{
  text-align:center;
  margin-top:1px; 
  margin-bottom:25px; 
}

input{
  width:100%;
  padding:8px;
  margin-top:10px;
  border:1px solid #1b1818;
  border-radius:10px;
}

button{
  width:100%;
  padding:10px;
  margin-top:10px;
  border:none;
  color:white;
  background:rgb(79, 136, 193);
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background:rgb(25, 6, 21);
}
